.crumbs
    ul.crumbs__list
        li.crumbs__item
            a.crumbs__link(href="index.html"): img.crumbs__breadcrumbs(alt="home" src="./assets/images/home.png")
        li.crumbs__item
            a.crumbs__link(href="#"): img.crumbs__breadcrumbs.crumbs__breadcrumbs_arrow(alt="arrow" src="./assets/images/arrow.png")    
        li.crumbs__item 
            a.crumbs__link(href="#") 
                .crumbs__breadcrumbs Новости    