footer.footer
    .footer__content
        .footer__info
            .footer__logo
                a.logo(href="#"): img.logo__img(alt="logo" src="./assets/images/logo-footer.png")
            .footer__text Комплексные решения в сфере строительных услуг
            .footer__copy © 2018 Строительная компания "Каррал".
        .footer__nav
            h3.footer__nav-title Навигация
            ul.footer__nav-list
                li.footer__nav-item: a.footer__nav-link(href="index.html") Главная
                li.footer__nav-item: a.footer__nav-link(href="#") Услуги
                li.footer__nav-item: a.footer__nav-link(href="news.html") Новости
                li.footer__nav-item: a.footer__nav-link(href="#") Контакты
                li.footer__nav-item: a.footer__nav-link(href="#") О компании
                li.footer__nav-item: a.footer__nav-link(href="#") Объекты
                li.footer__nav-item: a.footer__nav-link(href="#") Документы