footer.footer
    .container
        .logo
            a.logo__link(href="index.html")
                img.logo__image(src="./assets/images/logo-f.png")
        .button.button--up
            a.button__link(href="#top")
                img.button__arrow-up(src="./assets/images/arrow-up.png")