header.header.container#top
    .header__row
        .logo
            a.logo__link(href="index.html")
                img.logo__image(src="./assets/images/logo-b.png")
        .contacts
            ul.contacts__list
                li.contacts__item info@shidbud.com
                li.contacts__item +38 099 789 98 78
                li.contacts__item +38 093 789 98 78
                li.contacts__item +38 097 789 98 78
                li.contacts__item Пн-Пт 09:00 - 17:00
    .header__row
        include ../common/menu.pug