header.header
    .header__top
        .header__wrap
            .header__text Комплексные решения в сфере строительных услуг
            .header__contacts
                ul.contacts
                    li.contacts__item info@carral.com
                    li.contacts__item +00(123)456 78 90
                    li.contacts__item +00(123)456 78 90
    .header__main
        .header__logo
            a.logo(href="#"): img.logo__img(alt="logo" src="./assets/images/logo.png")
        include ./menu.pug
        button(type="button").hamburger#openFull
            .hamburger__menu