.menu
    ul.menu__list
        li.menu__item: a.menu__link(href="#") ГЛАВНАЯ
        li.menu__item: a.menu__link(href="#") О КОМПАНИИ
        li.menu__item: a.menu__link(href="#") УСЛУГИ
        li.menu__item: a.menu__link(href="#") ОБЪЕКТЫ
        li.menu__item: a.menu__link(href="#") НОВОСТИ
        li.menu__item: a.menu__link(href="#") ДОКУМЕНТЫ
        li.menu__item: a.menu__link(href="#") КОНТАКТЫ
