.menu
    button(type="button").hamburger#openFull
        .hamburger__menu
    ul.menu__list
        li.menu__item
            a.menu__link.active(href="index.html") главная
        li.menu__item
            a.menu__link(href="about.html") о компании
        li.menu__item
            a.menu__link(href="service.html") услуги
        li.menu__item
            a.menu__link(href="objects.html") объекты
        li.menu__item
            a.menu__link(href="news.html") новости
        li.menu__item
            a.menu__link(href="documents.html") документы
        li.menu__item
            a.menu__link(href="contacts.html") контакты