.pagination.container
    button(type="button").control.control_pagination
    ul.pagination__list
        li.pagination__item: a.pagination__link(href="#") 1
        li.pagination__item: a.pagination__link(href="#") ...
        li.pagination__item.pagination__item_hidden: a.pagination__link(href="#") 31
        li.pagination__item.pagination__item_hidden: a.pagination__link(href="#") 32
        li.pagination__item.active: a.pagination__link(href="#") 33
        li.pagination__item.pagination__item_hidden: a.pagination__link(href="#") 34
        li.pagination__item.pagination__item_hidden: a.pagination__link(href="#") 35
        li.pagination__item: a.pagination__link(href="#") ...
        li.pagination__item: a.pagination__link(href="#") 87
    button(type="button").control.control_pagination