.tablets-menu
    ul.tablets-menu__list
        li.tablets-menu__item: a.tablets-menu__link(href="#") ГЛАВНАЯ
        li.tablets-menu__item: a.tablets-menu__link(href="#") О КОМПАНИИ
        li.tablets-menu__item: a.tablets-menu__link(href="#") УСЛУГИ
        li.tablets-menu__item: a.tablets-menu__link(href="#") ОБЪЕКТЫ
        li.tablets-menu__item: a.tablets-menu__link(href="#") НОВОСТИ
        li.tablets-menu__item: a.tablets-menu__link(href="#") ДОКУМЕНТЫ
        li.tablets-menu__item: a.tablets-menu__link(href="#") КОНТАКТЫ