extends ../template

block variables
    - var title = 'Главная'

block content
    .wrapper
        include ../common/header.pug
        section.section.slider
            h1.visuallyhidden slider
            ul.slider__list
                li.slider__item.slider__item--one
                    .image-wrap
                        .container
                            .slider__desk
                                h2.slider__title ЭЛЕКТРОМОНТАЖНЫЕ РАБОТЫ
                                .slider__text
                                    p Высококвалифицированные бригады электриков выполнят работы по монтажу и демонтажу электросетей и электрооборудованию. Качественное выполнение работ по самым высоким  требованиям к электробезопастности.
                                .button: a.button__link(href="service.html") подробнее
                li.slider__item.slider__item--two
                    .image-wrap
                        .container
                            .slider__desk
                                h2.slider__title ЭЛЕКТРОМОНТАЖНЫЕ РАБОТЫ(2)
                                .slider__text
                                    p Высококвалифицированные бригады электриков выполнят работы по монтажу и демонтажу электросетей и электрооборудованию. Качественное выполнение работ по самым высоким  требованиям к электробезопастности.
                                .button: a.button__link(href="service.html") подробнее
                li.slider__item.slider__item--three
                    .image-wrap
                        .container
                            .slider__desk
                                h2.slider__title ЭЛЕКТРОМОНТАЖНЫЕ РАБОТЫ(3)
                                .slider__text
                                    p Высококвалифицированные бригады электриков выполнят работы по монтажу и демонтажу электросетей и электрооборудованию. Качественное выполнение работ по самым высоким  требованиям к электробезопастности.
                                .button: a.button__link(href="service.html") подробнее
            .controls
                button(type="button").controls__btn.ASPrev#prev-slide
                    .controls__arrow
                        img.controls__arrow-img(src="./assets/images/arrow-prev.png")
                    .controls__text назад
                button(type="button").controls__btn.ASNext#next-slide
                    .controls__text далее
                    .controls__arrow
                        img.controls__arrow-img(src="./assets/images/arrow-next.png")
            script.
                (function($){
                $(document).ready(function(){
                var options = {
                slides: '.slider__item',
                swipe: false,
                transition: "slide",
                slideTracker: true,
                slideTrackerID: 'slideposition',
                slideOnInterval: true,
                interval: 4000, 
                animateDuration: 500, 
                animationEasing: 'ease', 
                };
                $(".slider__list").simpleSlider(options);
                mainslider = $(".slider__list").data("simpleslider");
                /* yes, that's all! */
                $(".slider__list").on("beforeSliding", function(event){
                var prevSlide = event.prevSlide;
                var newSlide = event.newSlide;
                $(".slider__list .slider__list[data-index='" + prevSlide + "'] .slider__info").fadeOut();
                $(".slider__list .slider__list[data-index='" + newSlide + "'] .slider__info").hide();
                sliding = true;
                });
                $(".slider__list").on("afterSliding", function(event){
                var prevSlide = event.prevSlide;
                var newSlide = event.newSlide;
                $(".slider__list .slider__list[data-index='" + newSlide + "'] .slider__info").fadeIn();
                sliding = false;
                });
                $("#prev-slide").on("click", function(event){
                mainslider.prevSlide();
                });
                $("#next-slide").on("click", function(event){
                mainslider.nextSlide();
                });
                });
                })(jQuery);
        section.section.news
            h1.visuallyhidden news
            .news-l
                .news-l__desk
                    h2.news-l__title Новости
                    ul.news-l__list
                        li.news-l__item
                            a.news-l__link(href="news-in.html")
                                h3.news-l__subject Новость первая с заголовком длинною в 47 символ
                                .news-l__text
                                    p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки... развитию...
                        li.news-l__item
                            a.news-l__link(href="news-in.html")
                                h3.news-l__subject Новость вторая с заголовком длинною в 47 символ
                                .news-l__text
                                    p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки... развитию...
                        li.news-l__item
                            a.news-l__link(href="news-in.html")
                                h3.news-l__subject Новость третья с заголовком длинною в 47 символ
                                .news-l__text
                                    p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки... развитию...
            .news-r
                .image-wrap
        section.section.about
            h1.visuallyhidden about
            .about-l
                .image-wrap
                    .logo
                        img.logo__image(src="./assets/images/logo-w.png")
            .about-r
                .about-r__desk
                    h2.about-r__title О компании
                    .about-r__text
                        p Не следует, однако забывать, что консультация с широким активом способствует подготовки и реализации модели развития. Товарищи! начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. 
                            | Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения направлений прогрессивного развития.
                    .button: a.button__link(href="about.html") подробнее
        section.section.objects
            h1.visuallyhidden objects
            ul.objects__list
                li.objects__item
                    a.objects__link(href="objects.html")
                        .image-wrap
                            .image-wrap__text Бизнес центр
                            .image-wrap__text "Watergate"
                li.objects__item
                    a.objects__link(href="objects.html")
                        .image-wrap
                            .image-wrap__text Бизнес центр
                            .image-wrap__text "Watergate"
                li.objects__item
                    a.objects__link(href="objects.html")
                        .image-wrap
                            .image-wrap__text Бизнес центр
                            .image-wrap__text "Watergate"
                li.objects__item
                    a.objects__link(href="objects.html")
                        .image-wrap
                            .image-wrap__text Бизнес центр
                            .image-wrap__text "Watergate"
                li.objects__item
                    a.objects__link(href="objects.html")
                        .image-wrap
                            .image-wrap__text Бизнес центр
                            .image-wrap__text "Watergate"
                li.objects__item
                    a.objects__link(href="objects.html")
                        .image-wrap
                            .image-wrap__text Бизнес центр
                            .image-wrap__text "Watergate"
        section.section.reviews
            h1.visuallyhidden reviews
            .container
                h2.reviews__title Отзывы клиентов
                ul.reviews__list
                    li.reviews__item    
                        .reviews__avatar(style="background-image: url('./assets/images/client-1.jpg')")
                        .reviews__desk
                            .reviews__row
                                .reviews__name Марина
                                .reviews__date 12 января 2018
                            .reviews__row
                                p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и развитию
                    li.reviews__item    
                        .reviews__avatar(style="background-image: url('./assets/images/client-2.jpg')")
                        .reviews__desk
                            .reviews__row
                                .reviews__name Ольга Сергеевна
                                .reviews__date 12 января 2018
                            .reviews__row
                                p Идейные соображения высшего порядка, а также консультация
                    li.reviews__item    
                        .reviews__avatar(style="background-image: url('./assets/images/client-3.jpg')")
                        .reviews__desk
                            .reviews__row
                                .reviews__name Дмитрий Земцов
                                .reviews__date 12 января 2018
                            .reviews__row
                                p Повседневная практика показывает, что реализация намеченных плановых заданий позволяет оценить значение соответствующий условий активизации. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших направлений развития. Задача организации, в особенности же консультация с широким активом представляет собой интересный эксперимент проверки направлений прогрессивного развития.
                    li.reviews__item    
                        .reviews__avatar(style="background-image: url('./assets/images/client-4.jpg')")
                        .reviews__desk
                            .reviews__row
                                .reviews__name Олег
                                .reviews__date 12 января 2018
                            .reviews__row
                                p Таким образом укрепление и развитие структуры способствует подготовки и реализации модели развития.
                    li.reviews__item    
                        .reviews__avatar(style="background-image: url('./assets/images/client-5.jpg')")
                        .reviews__desk
                            .reviews__row
                                .reviews__name "Строй сервис"
                                .reviews__date 12 января 2018
                            .reviews__row
                                p Повседневная практика показывает, что реализация намеченных плановых заданий позволяет оценить значение соответствующий условий активизации. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших направлений развития. Задача организации, в особенности же консультация с широким активом представляет собой интересный эксперимент проверки направлений прогрессивного развития.
                    li.reviews__item    
                        .reviews__avatar(style="background-image: url('./assets/images/client-6.jpg')")
                        .reviews__desk
                            .reviews__row
                                .reviews__name Евгений
                                .reviews__date 12 января 2018
                            .reviews__row
                                p Таким образом укрепление и развитие структуры способствует подготовки и реализации модели развития.
                .button#reviews-btn: a.button__link(href="#") показать еще
                ul.reviews__list.visuallyhidden.reviews__list--hidden
                    li.reviews__item    
                        .reviews__avatar(style="background-image: url('./assets/images/client-1.jpg')")
                        .reviews__desk
                            .reviews__row
                                .reviews__name Марина
                                .reviews__date 12 января 2018
                            .reviews__row
                                p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и развитию
                    li.reviews__item    
                        .reviews__avatar(style="background-image: url('./assets/images/client-2.jpg')")
                        .reviews__desk
                            .reviews__row
                                .reviews__name Марина
                                .reviews__date 12 января 2018
                            .reviews__row
                                p Идейные соображения высшего порядка, а также консультация
                    li.reviews__item    
                        .reviews__avatar(style="background-image: url('./assets/images/client-3.jpg')")
                        .reviews__desk
                            .reviews__row
                                .reviews__name Марина
                                .reviews__date 12 января 2018
                            .reviews__row
                                p Повседневная практика показывает, что реализация намеченных плановых заданий позволяет оценить значение соответствующий условий активизации. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших направлений развития. Задача организации, в особенности же консультация с широким активом представляет собой интересный эксперимент проверки направлений прогрессивного развития.
                    li.reviews__item    
                        .reviews__avatar(style="background-image: url('./assets/images/client-4.jpg')")
                        .reviews__desk
                            .reviews__row
                                .reviews__name Марина
                                .reviews__date 12 января 2018
                            .reviews__row
                                p Таким образом укрепление и развитие структуры способствует подготовки и реализации модели развития.
                    li.reviews__item    
                        .reviews__avatar(style="background-image: url('./assets/images/client-5.jpg')")
                        .reviews__desk
                            .reviews__row
                                .reviews__name Марина
                                .reviews__date 12 января 2018
                            .reviews__row
                                p Повседневная практика показывает, что реализация намеченных плановых заданий позволяет оценить значение соответствующий условий активизации. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших направлений развития. Задача организации, в особенности же консультация с широким активом представляет собой интересный эксперимент проверки направлений прогрессивного развития.
                    li.reviews__item    
                        .reviews__avatar(style="background-image: url('./assets/images/client-6.jpg')")
                        .reviews__desk
                            .reviews__row
                                .reviews__name Марина
                                .reviews__date 12 января 2018
                            .reviews__row
                                p Таким образом укрепление и развитие структуры способствует подготовки и реализации модели развития.
        include ../common/footer.pug    