extends ../template

block variables
    - var title = 'Каррал'

block content
    .wrapper
        include ../common/header.pug
        section.section.hero
            h1.visuallyhidden Hero
            .slider.wrap
                ul.slider__list
                    li.slider__item.slider__item_one
                        .slider__info
                            .slider__desc
                                h2.slider__title ЭЛЕКТРОМОНТАЖНЫЕ РАБОТЫ
                                .slider__text
                                    p Высококвалифицированные бригады электриков выполнят работы по монтажу и демонтажу электросетей и электрооборудованию. Качественное выполнение работ по самым высоким  требованиям к электробезопастности.
                                .button: a.button__link(href="#") ПОДРОБНЕЕ
                    li.slider__item.slider__item_two
                        .slider__info
                            .slider__desc
                                h2.slider__title КРУПНОЗЕРНИСТЫЙ И МЕЛКОЗЕРНИСТЫЙ БЕТОН
                                .slider__text
                                    p Высококвалифицированные бригады электриков выполнят работы по монтажу и демонтажу электросетей и электрооборудованию. Качественное выполнение работ по самым высоким  требованиям к электробезопастности.
                                .button: a.button__link(href="#") ПОДРОБНЕЕ
                    li.slider__item.slider__item_three
                        .slider__info
                            .slider__desc
                                h2.slider__title БЕТОН ЛЕТНИЙ И ЗИМНИЙ В КИЕВЕ
                                .slider__text
                                    p Высококвалифицированные бригады электриков выполнят работы по монтажу и демонтажу электросетей и электрооборудованию. Качественное выполнение работ по самым высоким  требованиям к электробезопастности.
                                .button: a.button__link(href="#") ПОДРОБНЕЕ
                .slider__buttons
                    button.controls.slider__controls-prev.ASPrev#prev-slide(type="button")
                        .controls__triangle-prev
                    button.controls.slider__controls-next.ASNext#next-slide(type="button")
                        .controls__triangle-next
                script.
                    (function($){
                    $(document).ready(function(){
                    var options = {
                    slides: '.slider__item',
                    swipe: false,
                    transition: "slide",
                    slideTracker: false,
                    slideOnInterval: false, 
                    animateDuration: 500, 
                    animationEasing: 'ease', 
                    };
                    $(".slider__list").simpleSlider(options);
                    mainslider = $(".slider__list").data("simpleslider");
                    /* yes, that's all! */
                    $(".slider__list").on("beforeSliding", function(event){
                    var prevSlide = event.prevSlide;
                    var newSlide = event.newSlide;
                    $(".slider__list .slider__list[data-index='" + prevSlide + "'] .slider__info").fadeOut();
                    $(".slider__list .slider__list[data-index='" + newSlide + "'] .slider__info").hide();
                    sliding = true;
                    });
                    $(".slider__list").on("afterSliding", function(event){
                    var prevSlide = event.prevSlide;
                    var newSlide = event.newSlide;
                    $(".slider__list .slider__list[data-index='" + newSlide + "'] .slider__info").fadeIn();
                    sliding = false;
                    });
                    $("#prev-slide").on("click", function(event){
                    mainslider.prevSlide();
                    });
                    $("#next-slide").on("click", function(event){
                    mainslider.nextSlide();
                    });
                    });
                    })(jQuery);
        section.section.service
            h1.visuallyhidden Service
            .service__desc
                h2.service__title Оказываемые Услуги
                .service__text 
                    p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и реализации дальнейших направлений развития. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации модели развития.
            .service__content
                ul.service__list
                    li.service__item
                        .service__image
                            .service__wrap
                                .service__zoom
                                    img.service__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
                        .service__button: a.service__link(href="#") ДЕМОНТАЖНЫЕ РАБОТЫ
                    li.service__item
                        .service__image
                            .service__wrap
                                .service__zoom
                                    img.service__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
                        .service__button: a.service__link(href="#") ЭЛЕКТРОМОНТАЖНЫЕ РАБОТЫ
                    li.service__item
                        .service__image
                            .service__wrap
                                .service__zoom
                                    img.service__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
                        .service__button: a.service__link(href="#") САНТЕХНИЧЕСКИЕ РАБОТЫ
                    li.service__item
                        .service__image
                            .service__wrap
                                .service__zoom
                                    img.service__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
                        .service__button: a.service__link(href="#") ОТДЕЛОЧНЫЕ РАБОТЫ
                    li.service__item
                        .service__image
                            .service__wrap
                                .service__zoom
                                    img.service__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
                        .service__button: a.service__link(href="#") КРОВЕЛЬНЫЕ РАБОТЫ
                    li.service__item
                        .service__image
                            .service__wrap
                                .service__zoom
                                    img.service__zoom-logo(alt="zoom" src="./assets/images/zoom.png")
                        .service__button: a.service__link(href="#") УКЛАДКА ТРОТУАРНОЙ ПЛИТКИ
        section.section.news
            h1.visuallyhidden News
            h2.news__title Новости
            ul.news__list
                li.news__item
                    .news__image.news__image-one
                    .news-desc
                        h3.news-desc__title Обеспечение нашей деятельности и идейные соображения 
                        .news-desc__text
                            p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и... 
                        .news-desc__btn: a.news-desc__btn-link(href="news-in.html") ПОДРОБНЕЕ
                li.news__item.news__item--right
                    .news__image.news__image-two
                    .news-desc
                        h3.news-desc__title Обеспечение нашей деятельности и идейные соображения 
                        .news-desc__text
                            p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и...  
                        .news-desc__btn: a.news-desc__btn-link(href="news-in.html") ПОДРОБНЕЕ
                li.news__item
                    .news__image.news__image-three
                    .news-desc
                        h3.news-desc__title Обеспечение нашей деятельности и идейные соображения 
                        .news-desc__text
                            p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и...  
                        .news-desc__btn: a.news-desc__btn-link(href="news-in.html") ПОДРОБНЕЕ
                li.news__item.news__item--right
                    .news__image.news__image-four
                    .news-desc
                        h3.news-desc__title Обеспечение нашей деятельности и идейные соображения 
                        .news-desc__text
                            p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и...  
                        .news-desc__btn: a.news-desc__btn-link(href="news-in.html") ПОДРОБНЕЕ
        section.section.contacts-footer
            h1.visuallyhidden Partners
            .slider-wrap
                .partners
                    ul.partners__list#lightSlider
                        li.partners__item: .partners__image(style="background-image: url(./assets/images/intel.png)")
                        li.partners__item: .partners__image(style="background-image: url(./assets/images/acer.png)")
                        li.partners__item: .partners__image(style="background-image: url(./assets/images/lg.png)")
                        li.partners__item: .partners__image(style="background-image: url(./assets/images/sp.png)")
                        li.partners__item: .partners__image(style="background-image: url(./assets/images/nokia.png)")
                        li.partners__item: .partners__image(style="background-image: url(./assets/images/amd.png)")                   
                .slider__buttons.lSAction
                    button.controls.controls--footer.slider__controls-prev.lSPrev#goToPrevSlide(type="button")
                        .controls__triangle-prev
                    button.controls.controls--footer.slider__controls-next.lSNext#goToNextSlide(type="button")
                     .controls__triangle-next
                script.
                    $(document).ready(function() {
                        var slider = $('#lightSlider').lightSlider({
                        item:6,
                        loop:false,
                        slideMove:2,
                        easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
                        speed:600,
                            responsive : [
                            {
                            breakpoint:1800,
                            settings: {
                            item:5,
                            slideMove:1,
                            slideMargin:15,
                            }
                            },
                            {
                            breakpoint:1200,
                            settings: {
                            item:5,
                            slideMove:1,
                            slideMargin:15,
                            }
                            },
                            {
                            breakpoint:992,
                            settings: {
                            item:4,
                            slideMove:1,
                            slideMargin:15,
                            }
                            },
                            {
                            breakpoint:768,
                            settings: {
                            item:2,
                            slideMove:1,
                            slideMargin:15,
                            }
                            },
                            {
                            breakpoint:480,
                            settings: {
                            item:1,
                            slideMove:1
                            }
                            }
                            ]
                            });
                        $('#goToPrevSlide').click(function(){
                            slider.goToPrevSlide();
                        });
                        $('#goToNextSlide').click(function(){
                            slider.goToNextSlide();
                        });
                    });
        include ../common/footer.pug