extends ../template

block variables
    - var title = 'Новости'

block content
    .wrapper
        include ../common/header.pug
        include ../common/crumbs.pug
        section.section.news.news_not-shadow
            h1.visuallyhidden News
            h2.news__title Новости
            ul.news__list
                li.news__item
                    .news__image.news__image-one
                    .news-desc
                        h3.news-desc__title Обеспечение нашей деятельности и идейные соображения 
                        .news-desc__text
                            p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и... 
                        .news-desc__btn: a.news-desc__btn-link(href="news-in.html") ПОДРОБНЕЕ
                li.news__item.news__item--right
                    .news__image.news__image-two
                    .news-desc
                        h3.news-desc__title Обеспечение нашей деятельности и идейные соображения 
                        .news-desc__text
                            p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и...  
                        .news-desc__btn: a.news-desc__btn-link(href="news-in.html") ПОДРОБНЕЕ
                li.news__item
                    .news__image.news__image-three
                    .news-desc
                        h3.news-desc__title Обеспечение нашей деятельности и идейные соображения 
                        .news-desc__text
                            p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и...  
                        .news-desc__btn: a.news-desc__btn-link(href="news-in.html") ПОДРОБНЕЕ
                li.news__item.news__item--right
                    .news__image.news__image-four
                    .news-desc
                        h3.news-desc__title Обеспечение нашей деятельности и идейные соображения 
                        .news-desc__text
                            p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и...  
                        .news-desc__btn: a.news-desc__btn-link(href="news-in.html") ПОДРОБНЕЕ
                li.news__item
                    .news__image.news__image-one
                    .news-desc
                        h3.news-desc__title Обеспечение нашей деятельности и идейные соображения 
                        .news-desc__text
                            p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и... 
                        .news-desc__btn: a.news-desc__btn-link(href="news-in.html") ПОДРОБНЕЕ
                li.news__item.news__item--right
                    .news__image.news__image-two
                    .news-desc
                        h3.news-desc__title Обеспечение нашей деятельности и идейные соображения 
                        .news-desc__text
                            p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и...  
                        .news-desc__btn: a.news-desc__btn-link(href="news-in.html") ПОДРОБНЕЕ
                li.news__item
                    .news__image.news__image-three
                    .news-desc
                        h3.news-desc__title Обеспечение нашей деятельности и идейные соображения 
                        .news-desc__text
                            p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и...  
                        .news-desc__btn: a.news-desc__btn-link(href="news-in.html") ПОДРОБНЕЕ
                li.news__item.news__item--right
                    .news__image.news__image-four
                    .news-desc
                        h3.news-desc__title Обеспечение нашей деятельности и идейные соображения 
                        .news-desc__text
                            p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и...  
                        .news-desc__btn: a.news-desc__btn-link(href="news-in.html") ПОДРОБНЕЕ
                li.news__item
                    .news__image.news__image-three
                    .news-desc
                        h3.news-desc__title Обеспечение нашей деятельности и идейные соображения 
                        .news-desc__text
                            p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и...  
                        .news-desc__btn: a.news-desc__btn-link(href="news-in.html") ПОДРОБНЕЕ
                li.news__item.news__item--right.news__item_pagination
                    .news__image.news__image-four
                    .news-desc
                        h3.news-desc__title Обеспечение нашей деятельности и идейные соображения 
                        .news-desc__text
                            p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и...  
                        .news-desc__btn: a.news-desc__btn-link(href="news-in.html") ПОДРОБНЕЕ
        .pagination
            button(type="button").controls.controls_pagination
                .controls__triangle-prev
            ul.pagination__list
                li.pagination__item: a.pagination__link(href="#") 1
                li.pagination__item: a.pagination__link(href="#") ...
                li.pagination__item.pagination__item_hidden: a.pagination__link(href="#") 31
                li.pagination__item.pagination__item_hidden: a.pagination__link(href="#") 32
                li.pagination__item: a.pagination__link.active(href="#") 33
                li.pagination__item.pagination__item_hidden: a.pagination__link(href="#") 34
                li.pagination__item.pagination__item_hidden: a.pagination__link(href="#") 35
                li.pagination__item: a.pagination__link(href="#") ...
                li.pagination__item: a.pagination__link(href="#") 87
            button(type="button").controls.controls_pagination
                .controls__triangle-next
        include ../common/footer.pug