extends ../template

block variables
    - var title = 'Новости'

block content
    .wrapper
        header.header.container#top.header--no-flex1
            .header__row
                .logo
                    a.logo__link(href="index.html")
                        img.logo__image(src="./assets/images/logo-b.png")
                .contacts
                    ul.contacts__list
                        li.contacts__item info@shidbud.com
                        li.contacts__item +38 099 789 98 78
                        li.contacts__item +38 093 789 98 78
                        li.contacts__item +38 097 789 98 78
                        li.contacts__item Пн-Пт 09:00 - 17:00
            .header__row
                .menu
                    ul.menu__list
                        li.menu__item
                            a.menu__link(href="index.html") главная
                        li.menu__item
                            a.menu__link(href="#") о компании
                        li.menu__item
                            a.menu__link(href="#") услуги
                        li.menu__item
                            a.menu__link(href="objects.html") объекты
                        li.menu__item
                            a.menu__link.active(href="news.html") новости
                        li.menu__item
                            a.menu__link(href="#") документы
                        li.menu__item
                            a.menu__link(href="#") контакты
        include ../common/crumbs.pug  
        section.section.news.news--page
            h1.visuallyhidden news
            .container
                h2.news__title Новости
                ul.news__list
                    li.news__item
                        a.news__link(href="news-in.html")
                            .news__image
                                .news__date 28.09.2018
                            .news__desk
                                h3.news__desk-title Обеспечение нашей деятельности и идейные соображения
                                .news__desk-text
                                    p Идейные соображения высшего порядка, а также консультация с широким ...
                    li.news__item
                        a.news__link(href="news-in.html")
                            .news__image
                                .news__date 28.09.2018
                            .news__desk
                                h3.news__desk-title Обеспечение нашей деятельности и идейные соображения
                                .news__desk-text
                                    p Идейные соображения высшего порядка, а также консультация с широким ...
                    li.news__item
                        a.news__link(href="news-in.html")
                            .news__image
                                .news__date 28.09.2018
                            .news__desk
                                h3.news__desk-title Обеспечение нашей деятельности и идейные соображения
                                .news__desk-text
                                    p Идейные соображения высшего порядка, а также консультация с широким ...
                    li.news__item
                        a.news__link(href="news-in.html")
                            .news__image
                                .news__date 28.09.2018
                            .news__desk
                                h3.news__desk-title Обеспечение нашей деятельности и идейные соображения
                                .news__desk-text
                                    p Идейные соображения высшего порядка, а также консультация с широким ...
                    li.news__item
                        a.news__link(href="news-in.html")
                            .news__image
                                .news__date 28.09.2018
                            .news__desk
                                h3.news__desk-title Обеспечение нашей деятельности и идейные соображения
                                .news__desk-text
                                    p Идейные соображения высшего порядка, а также консультация с широким ...
                    li.news__item
                        a.news__link(href="news-in.html")
                            .news__image
                                .news__date 28.09.2018
                            .news__desk
                                h3.news__desk-title Обеспечение нашей деятельности и идейные соображения
                                .news__desk-text
                                    p Идейные соображения высшего порядка, а также консультация с широким ...
                    li.news__item
                        a.news__link(href="news-in.html")
                            .news__image
                                .news__date 28.09.2018
                            .news__desk
                                h3.news__desk-title Обеспечение нашей деятельности и идейные соображения
                                .news__desk-text
                                    p Идейные соображения высшего порядка, а также консультация с широким ...
                    li.news__item
                        a.news__link(href="news-in.html")
                            .news__image
                                .news__date 28.09.2018
                            .news__desk
                                h3.news__desk-title Обеспечение нашей деятельности и идейные соображения
                                .news__desk-text
                                    p Идейные соображения высшего порядка, а также консультация с широким ...
                    li.news__item
                        a.news__link(href="news-in.html")
                            .news__image
                                .news__date 28.09.2018
                            .news__desk
                                h3.news__desk-title Обеспечение нашей деятельности и идейные соображения
                                .news__desk-text
                                    p Идейные соображения высшего порядка, а также консультация с широким ...
                    li.news__item
                        a.news__link(href="news-in.html")
                            .news__image
                                .news__date 28.09.2018
                            .news__desk
                                h3.news__desk-title Обеспечение нашей деятельности и идейные соображения
                                .news__desk-text
                                    p Идейные соображения высшего порядка, а также консультация с широким ...
                    li.news__item
                        a.news__link(href="news-in.html")
                            .news__image
                                .news__date 28.09.2018
                            .news__desk
                                h3.news__desk-title Обеспечение нашей деятельности и идейные соображения
                                .news__desk-text
                                    p Идейные соображения высшего порядка, а также консультация с широким ...
                    li.news__item
                        a.news__link(href="news-in.html")
                            .news__image
                                .news__date 28.09.2018
                            .news__desk
                                h3.news__desk-title Обеспечение нашей деятельности и идейные соображения
                                .news__desk-text
                                    p Идейные соображения высшего порядка, а также консультация с широким ...
        include ../common/pagination.pug  
        include ../common/footer.pug   