extends ../template

block variables
    - var title = 'Услуги'

block content
    .wrapper
        include ../common/header.pug
        .crumbs
            ul.crumbs__list
                li.crumbs__item
                    a.crumbs__link(href="index.html"): img.crumbs__breadcrumbs(alt="home" src="./assets/images/home.png")
                li.crumbs__item
                    a.crumbs__link(href="#"): img.crumbs__breadcrumbs.crumbs__breadcrumbs_arrow(alt="arrow" src="./assets/images/arrow.png")    
                li.crumbs__item 
                    a.crumbs__link(href="#") 
                        .crumbs__breadcrumbs Услуги   
        section.section.service.service_page
            h1.visuallyhidden Service
            .service__container
                .service__main
                    .service__desc.service__desc_page
                        h2.service__title.service__title_page Оказываемые Услуги
                    ul.service__list.service__list_page
                        li.service__item.service__item_page
                            h3.service__caption Демонтажные работы
                            .service__image.service__image_page.service__image_one
                            .service__text.service__text_page
                                p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и реализации дальнейших направлений развития. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации модели развития.
                                |    Разнообразный и богатый опыт начало повседневной работы по формированию позиции требуют от нас анализа соответствующий условий активизации. Равным образом консультация с широким активом позволяет выполнять важные задания по разработке дальнейших направлений развития. 
                            .service__button.service__button_page: a.service__link.service__link_page(href="#") Подробнее
                        li.service__item.service__item_page
                            h3.service__caption Электромонтажные работы
                            .service__image.service__image_page.service__image_two
                            .service__text.service__text_page
                                p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и реализации дальнейших направлений развития. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации модели развития.
                                |    Разнообразный и богатый опыт начало повседневной работы по формированию позиции требуют от нас анализа соответствующий условий активизации. Равным образом консультация с широким активом позволяет выполнять важные задания по разработке дальнейших направлений развития. 
                            .service__button.service__button_page: a.service__link.service__link_page(href="#") Подробнее
                        li.service__item.service__item_page
                            h3.service__caption Сантехнические работы
                            .service__image.service__image_page.service__image_three
                            .service__text.service__text_page
                                p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и реализации дальнейших направлений развития. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации модели развития.
                                |    Разнообразный и богатый опыт начало повседневной работы по формированию позиции требуют от нас анализа соответствующий условий активизации. Равным образом консультация с широким активом позволяет выполнять важные задания по разработке дальнейших направлений развития. 
                            .service__button.service__button_page: a.service__link.service__link_page(href="#") Подробнее
                        li.service__item.service__item_page
                            h3.service__caption Отделочные работы
                            .service__image.service__image_page.service__image_four
                            .service__text.service__text_page
                                p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и реализации дальнейших направлений развития. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации модели развития.
                                |    Разнообразный и богатый опыт начало повседневной работы по формированию позиции требуют от нас анализа соответствующий условий активизации. Равным образом консультация с широким активом позволяет выполнять важные задания по разработке дальнейших направлений развития. 
                            .service__button.service__button_page: a.service__link.service__link_page(href="#") Подробнее
                        li.service__item.service__item_page
                            h3.service__caption Кровельные работы
                            .service__image.service__image_page.service__image_fifth
                            .service__text.service__text_page
                                p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и реализации дальнейших направлений развития. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации модели развития.
                                |    Разнообразный и богатый опыт начало повседневной работы по формированию позиции требуют от нас анализа соответствующий условий активизации. Равным образом консультация с широким активом позволяет выполнять важные задания по разработке дальнейших направлений развития. 
                            .service__button.service__button_page: a.service__link.service__link_page(href="#") Подробнее
                        li.service__item.service__item_page
                            h3.service__caption Укладка тротуарной плитки
                            .service__image.service__image_page.service__image_six
                            .service__text.service__text_page
                                p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и реализации дальнейших направлений развития. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации модели развития.
                                |    Разнообразный и богатый опыт начало повседневной работы по формированию позиции требуют от нас анализа соответствующий условий активизации. Равным образом консультация с широким активом позволяет выполнять важные задания по разработке дальнейших направлений развития. 
                            .service__button.service__button_page: a.service__link.service__link_page(href="#") Подробнее
                aside.aside
                    h3.aside__title.aside__title_obj Объекты
                    ul.aside__list
                        li.aside__item
                            h4.aside__subject.aside__subject_obj Александры Монаховойр 98 к 1
                            .aside__text.aside__text_obj
                                p Срок: 2 месяца. Стоимость 230 993 грн.
                            a.aside__link-image(href="#")
                                .aside__image-object
                        li.aside__item
                            h4.aside__subject.aside__subject_obj Измайловский проезд, 10к2
                            .aside__text.aside__text_obj
                                p Срок: 15 дней
                            a.aside__link-image(href="#")    
                                .aside__image-object
                        li.aside__item
                            h4.aside__subject.aside__subject_obj Дмитровское ш., д. 169
                            .aside__text.aside__text_obj
                                p Срок: 32 дня Стоимость: 246 000 грн.
                            a.aside__link-image(href="#")
                                .aside__image-object
                        li.aside__item
                            h4.aside__subject.aside__subject_obj Ул. Турку д.11
                            .aside__text.aside__text_obj
                                p Срок: 12 дней. Стоимость: 57 980 грн.
                            a.aside__link-image(href="#")
                                .aside__image-object
                        li.aside__item
                            h4.aside__subject.aside__subject_obj ул. Кораблестроителей
                            .aside__text.aside__text_obj
                                p Срок: 51 день Стоимость: 313 780 грн.
                            a.aside__link-image(href="#")
                                .aside__image-object
                        li.aside__item
                            h4.aside__subject.aside__subject_obj пр.Маршала Блюхера д.9
                            .aside__text.aside__text_obj
                                p Срок: 47 дней. Стоимость: 171 985 грн.
                            a.aside__link-image(href="#")
                                .aside__image-object
                    h3.news__title.news__title_aside Новости
                    ul.news__list
                        li.news__item.news__item_aside
                            .news__image.news__image-one.news__image_aside
                            .news-desc.news-desc_aside
                                h3.news-desc__title Обеспечение нашей деятельности и идейные соображения 
                                .news-desc__text.news-desc__text_aside
                                    p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и... 
                                .news-desc__btn: a.news-desc__btn-link(href="news-in.html") ПОДРОБНЕЕ
                        li.news__item.news__item--right.news__item_aside
                            .news__image.news__image-two.news__image_aside
                            .news-desc.news-desc_aside
                                h3.news-desc__title Обеспечение нашей деятельности и идейные соображения 
                                .news-desc__text.news-desc__text_aside
                                    p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и...  
                                .news-desc__btn: a.news-desc__btn-link(href="news-in.html") ПОДРОБНЕЕ
                        li.news__item.news__item_aside
                            .news__image.news__image-three.news__image_aside
                            .news-desc.news-desc_aside
                                h3.news-desc__title Обеспечение нашей деятельности и идейные соображения 
                                .news-desc__text.news-desc__text_aside
                                    p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и...  
                                .news-desc__btn: a.news-desc__btn-link(href="news-in.html") ПОДРОБНЕЕ
                        li.news__item.news__item--right.news__item_aside
                            .news__image.news__image-four.news__image_aside
                            .news-desc.news-desc_aside
                                h3.news-desc__title Обеспечение нашей деятельности и идейные соображения 
                                .news-desc__text.news-desc__text_aside
                                    p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и...  
                                .news-desc__btn: a.news-desc__btn-link(href="news-in.html") ПОДРОБНЕЕ
        include ../common/footer.pug