.about {
    width: 100%;
    display: flex;
}

.about-l {
    background-image: url(../images/about-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 600px;
    width: 50%;

    .image-wrap {
        background-color: rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.about-r {
    width: 50%;
    height: 100%;
    max-height: 600px;
    padding: 90px 0 112px 0;
}

.about-r__desk {
    width: 570px;
    height: 100%;
    padding-left: 45px;

    .button {
        margin-top: 112px;
    }
}

.about-r__title {
    margin: 0;
    font-family: 'Open Sans bold';
    font-size: 26px;
    color: #000;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 65px;

    &::after {
        content: "";
        width: 306px;
        border-bottom: 4px solid $orange;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.about-r__text {
    font-family: 'Open Sans reg';
    font-size: 16px;
    color: #000;
}