.blog {
    padding: 90px 0px;
}

.blog__content {
    width: 100%;
    display: flex;
}

.blog__main {
    width: 100%;
    min-width: 748px;
    margin-right: 30px;

    p {
        margin-bottom: 30px;
        font-family: 'Open Sans reg';
        font-size: 16px;
        color: #000;
    }

    img {
        width: 100%;
    }
}

.blog__title-wrap {
    position: relative;
    margin-bottom: 25px;
    
    &:after {
        content: "";
        height: 4px;
        width: 100%;
        background-color: $orange;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.blog__title {
    margin: 0;
    font-family: 'Open Sans bold';
    font-size: 30px;
    color: #000;
    //margin-bottom: 20px;
    position: relative;
    display: inline-block;
    background-color: #fff;
    z-index: 1;
    //padding-bottom: 20px;
    padding-right: 30px;

    /*&:after {
        content: "";
        height: 4px;
        width: 510px;
        background-color: $orange;
        position: absolute;
        bottom: 0;
        right: 0;
    }*/
}

.blog__date {
    font-family: 'Open Sans reg';
    font-size: 16px;
    color: #000;
    text-align: end;
    margin-bottom: 30px;
}

.blog__adres {
    font-family: 'Open Sans reg';
    font-size: 16px;
    color: #000;
    text-align: end;
    margin-bottom: 30px;
}

.aside {
    width: 100%;
    min-width: 362px;
}

.aside__title {
    margin: 0;
    font-family: 'Open Sans bold';
    font-size: 30px;
    color: #000;
    margin-bottom: 60px;
    position: relative;

    &:after {
        content: "";
        height: 4px;
        width: 97px;
        background-color: $orange;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.aside__title--obj {
    &:after {
        width: 80px;
    }
}