.crumbs {
    width: 100%;
    background-color: #000;
}

.crumbs__list {
    height: 100%;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    padding-top: 66px;
    padding-bottom: 39px;

    @include desktop {
        max-width: 1140px;
    }

    @include tablets-l {
        max-width: 750px;
        padding-top: 61px;
        padding-bottom: 34px;
    }

    @include tablets {
        max-width: 90%;
        padding-top: 46px;
        padding-bottom: 24px;
    }

    @include phones {
        max-width: 300px;
    }
}

.crumbs__item {
    margin-right: 14px;

    @include phones {
        margin-right: 10px;
    }
}

.crumbs__link {
    text-decoration: none;
}

.crumbs__breadcrumbs {
    font-family: 'Open Sans reg';
    font-size: 16px;
    color: rgba($color: #fff, $alpha: .7);
    transition: .2s;

    &:hover {
        color: rgba($color: #fff, $alpha: 1.0);
    }
}

.crumbs__breadcrumbs_arrow {
    padding-bottom: 2px;
}