.service {
    height: 100%;
    max-height: 860px;
    width: 100%;
    background-image: url(../images/bg-service.png);
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: cover;
    z-index: 1;

    @include tablets-l {
        height: 100%;
    }

    @include tablets {
        height: 120%;    
    }

    @include phones {
        height: 100%;
    }
}

.service__content {
    height: 85%;
    margin: 0 auto;
    display: flex;
    max-width: 940px;
    width: 100%;

    @include desktop {
        max-width: 1140px;
    }

    @include tablets-l {
        max-width: initial;
        width: 80%;
    }

    @include tablets {
        height: 90%;
        width: 90%;    
    }
}

.service__list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
}

.service__item {
    width: 33.3%;
    height: 50%;
    background-image: url(../images/service-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    position: relative;

    &:hover {
        .service__wrap {
            background-color: rgba(0, 0, 0, 0.7);
            transition: .2s;
        }

        .service__link {
            background-color: #c32328;
            transition: .2s;
        }

        .service__zoom {
            opacity: 1;
            transition: .2s;
        }
    }

    @include tablets {
        width: 50%;
        height: 33.3%;    
    }

    @include phones {
        width: 100%;
        height: 50%;
    }
}

.service__image {
    height: 100%;
}

.service__item:nth-child(1) {
    background-image: url(../images/service-1.jpg);
}

.service__item:nth-child(2) {
    background-image: url(../images/service-2.jpg);
}

.service__item:nth-child(3) {
    background-image: url(../images/service-3.jpg);

    @include phones {
        display: none;
    }
}

.service__item:nth-child(4) {
    background-image: url(../images/service-4.jpg);

    @include phones {
        display: none;
    }
}

.service__item:nth-child(5) {
    background-image: url(../images/service-5.jpg);

    @include phones {
        display: none;
    }
}

.service__item:nth-child(6) {
    background-image: url(../images/service-6.jpg);

    @include phones {
        display: none;
    }
}

.service__wrap {
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
}

.service__zoom {
    height: 54px;
    width: 54px;
    background-color: #c32328;
    position: absolute;
    left: 50%;
    top: 37%;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.service__zoom-logo {
    height: 35%;
}

.service__button {
    width: 100%;
}

.service__link {
    text-decoration: none;
    font-family: 'Open Sans bold';
    font-size: 14px;
    color: #fff;
    background-color: #000;
    padding: 25px 0 25px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;

    @include desktop {
        font-size: 16px;
        padding: 35px 0 35px 0;
    }

    @include tablets-l {
        font-size: 12px;
        padding: 20px 0 20px 0;
    }
}