.header__top {
    background-color: #000;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @include tablets {
        height: initial;
    }
}

.header__wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 940px;
    padding: 10px 0;

    @include desktop {
        max-width: 1140px;
    }

    @include tablets-l {
        max-width: 750px;
    }

    @include tablets {
        max-width: 420px;
        flex-direction: column;
        justify-content: center;    
    }

    @include phones {
        max-width: 300px;
    }
}

.header__text {
    font-family: 'Open Sans reg';
    font-size: 14px;
    color: #fff;
    width: 50%;

    @include tablets-l {
        padding-left: 0;
        font-size: 13px;
    }
    
    @include tablets {
        width: 100%; 
        padding: 10px 0; 
        text-align: center;  
    }
}

.header__contacts {
    font-family: 'Open Sans reg';
    font-size: 14px;
    color: #fff;
    width: 50%;

    @include tablets-l {
        font-size: 13px;
    }

    @include tablets {
        width: 100%;   
        padding: 0 0 10px 0; 
    }
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    @include tablets {
        justify-content: center;    
    }

    @include phones {
        flex-direction: column;
        align-items: center;
    }
}

.contacts__item {
    padding-right: 15px;

    &:last-child {
        padding-right: 0;
    }

    @include tablets-l {
        &:last-child {
            padding-right: 0;
        }
    }

    @include phones {
        padding-right: 0;
    }
}

.header__main {
    height: 117px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;

    @include tablets {
        height: 90px;
        align-items: center;  
        justify-content: space-around;  
    }
}

.header__logo {
    padding-top: 20px;

    @include tablets {
        padding-top: 0;    
    }
}

.menu {
    position: absolute;
    bottom: -26px;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    z-index: 10;
    width: 100%;
    max-width: 940px;

    @include desktop {
        max-width: 1140px;
    }

    @include tablets-l {
        max-width: 750px;
    }

    @include tablets {
        height: 0;
        transition: height 0.7s;
        position: absolute;
        top: 80%;
        z-index: 15;
        width: 100%;
        overflow: hidden;
        background-color: #fff;
        box-shadow: none;
    }
}

.menu__list {
    display: flex;
    flex-direction: row;

    @include tablets {
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
    }
}

.menu__item {
    background-color: #c32328;
    display: flex;
    flex-grow: 1;

    @include tablets {
        background-color: initial;

        &:hover {
            .menu__link {
                border-bottom: 2px solid #000;
            }
        }
    }
}

.menu__link {
    font-family: 'Open Sans bold';
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    padding: 15px 31px;
    transition: .2s;
    text-transform: uppercase;

    &:hover {
        color: #000;
    }

    @include desktop {
        padding: 18px 42px;
    }

    @include tablets-l {
        font-size: 12px;
        padding: 14px 20px;
    }

    @include tablets {
        text-decoration: none;
        font-family: 'Open Sans bold';
        font-size: 13px;
        color: #000;
        transition: .2s;
        border-bottom: 2px solid transparent;
    }
}

.hamburger {
    display: none;
    cursor: pointer;
    height: 40px;
    width: 52px;
    background: none;
    border: initial;

    &:hover {
        .hamburger__menu {
            background: rgba($color: #000, $alpha: 1.0);

            &:before {
                background: rgba($color: #000, $alpha: 1.0);
            }

            &:after {
                background: rgba($color: #000, $alpha: 1.0);
            }
        }
    }

    @include tablets {
        display: block;
    }
}

.hamburger__menu {
    display: inline-block;
    background: rgba($color: #000, $alpha: 0.7);
    width: 40px;
    height: 5px;
    border-radius: 2px;
    position: relative;
    transition: .3s;
    -webkit-transition: background 0 0.3s;
    transition: background 0 0.3s;
    
    &::before, &::after {
      -webkit-transition-duration: 0.3s, 0.3s;
      transition-duration: 0.3s, 0.3s;
      -webkit-transition-delay: 0.3s, 0;
      transition-delay: 0.3s, 0;
    }
    
    &:before {
        content: "";
        background: rgba($color: #000, $alpha: 0.7);
        width: 40px;
        height: 5px;
        border-radius: 2px;
        position: absolute;
        top: 10px;
        left: 0;
    }

    &:after {
        content: "";
        background: rgba($color: #000, $alpha: 0.7);
        width: 40px;
        height: 5px;
        border-radius: 2px;
        position: absolute;
        bottom: 10px;
        left: 0;
    }
}

.hamburger.active {
    .hamburger__menu {
        background: none;
        
        &::before {
            top: 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        &::after {
            bottom: 0;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        &::before, &::after {
            -webkit-transition-delay: 0, 0.3s;
            transition-delay: 0, 0.3s;
        }
    }
}

.slider {
    height: 474px;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
    margin-bottom: 10px;
    
    @include desktop {
        height: 574px;
    }

    @include tablets {
        height: 400px;
    }
}

.slider__content {
    width: 100%;
    height: 100%;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
}

.slider__list {
    list-style: none;
    list-style-type: none;
    display: flex;
    transition: transform .6s;
    will-change: transform;
    position: relative;
    z-index: 1;
    height: 100%;
    cursor: -webkit-grab;
}

.slider__item {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.slider__item_one {
    background-image: url(../images/slide-1.jpg);
}

.slider__item_two {
    background-image: url(../images/slide-2.jpg);
}

.slider__item_three {
    background-image: url(../images/slide-2.jpg);
}

.slider__info {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__desc {
    text-align: center;
    width: 100%;
    max-width: 940px;

    @include desktop {
        max-width: 1140px;
    }

    @include tablets-l {
        padding: 10px 0 20px 0;
        max-width: 750px;
    }

    @include tablets {
        padding: 10px 0 20px 0;
        max-width: 330px;
    }

    @include phones {
        width: 100%;
        padding: 10px 0 20px 0;
    }
}

.slider__title {
    font-family: 'Open Sans bold';
    font-size: 34px;
    color: #fff;
    text-transform: uppercase;

    @include desktop {
        font-size: 36px;
    }

    @include tablets-l {
        font-size: 31px;
    }

    @include tablets {
        font-size: 29px;    
    }

    @include phones {
        font-size: 24px;
        margin: 0 auto;
        width: 95%;
    }
}

.slider__text {
    font-family: 'Open Sans reg';
    font-size: 16px;
    color: #fff;
    padding-bottom: 34px;

    @include tablets-l {
        font-size: 14px;
        max-width: 630px;
        margin: 0 auto;
    }

    @include phones {
        font-size: 13px;
        width: 70%;
        margin: 0 auto;
    }
}

.button__link {
    text-decoration: none;
    font-family: 'Open Sans bold';
    font-size: 16px;
    color: #fff;
    background-color: #c32328;
    padding: 15px 30px;
    transition: .4s;
    text-transform: uppercase;

    &:hover {
        color: #000;
        border-radius: 5px;
    }

    @include desktop {
        padding: 18px 30px;
    }

    @include tablets-l {
        font-size: 13px;
        padding: 13px 28px;
    }

    @include tablets {
        padding: 11px 26px;    
    }
}

.controls {
    position: absolute;
    width: 48px;
    height: 48px;
    bottom: 50%;
    background: none;
    border: initial;
    cursor: pointer;
    z-index: 10;
    background-color: #c32328;
    border-radius: 50%;

    &:hover {
        .controls__triangle-prev {
            border-color: #000;
            transition: .2s;
        }

        .controls__triangle-next {
            border-color: #000;
            transition: .2s;
        }
    }

    @include phones {
        width: 40px;
        height: 40px;
    }
}

.controls--footer {
    bottom: 50%;
    transform: translate(0%, 50%);
}

.controls_pagination {
    position: initial;
}

.slider__controls-prev {
    left: 15px;

    @include desktop {
        left: 60px;
    }

    @include phones {
        left: 5px;
    }
}

.controls__triangle-prev {
    height: 10px;
    width: 10px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    transform: rotate(-45deg);
    margin: 14px;

    @include phones {
        margin: 10px;
    }
}

.slider__controls-next {
    right: 15px;

    @include desktop {
        right: 60px;
    }

    @include phones {
        right: 5px;
    }
}

.controls__triangle-next {
    height: 10px;
    width: 10px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    transform: rotate(135deg);
    margin: 12px;

    @include phones {
        margin: 8px;
    }
}