.hero {
    height: 120%;
}

.header__top {
    background-color: #000;
    height: 38px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header__wrap {
    width: 1170px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__text {
    font-family: 'Open Sans reg';
    font-size: 14px;
    color: #fff;
    width: 50%;
    padding-left: 15px;
}

.header__contacts {
    font-family: 'Open Sans reg';
    font-size: 14px;
    color: #fff;
    width: 50%;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.contacts__item {
    padding-right: 15px;
}

.header__main {
    height: 117px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.header__logo {
    padding-top: 20px;
}

.menu {
    position: absolute;
    bottom: -26px;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    z-index: 10;
}

.menu__list {
    display: flex;
    flex-direction: row;
}

.menu__item {
    background-color: #c32328;
    display: flex;
    flex-grow: 1;
}

.menu__link {
    font-family: 'Open Sans bold';
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    padding: 18px 50px;
    transition: .2s;

    &:hover {
        color: #000;
    }
}

.slider {
    height: 60%;
    width: 100%;
    max-width: 100%;
}

.slider__content {
    width: 100%;
    height: 100%;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
}

.slider__list {
    list-style: none;
    list-style-type: none;
    display: flex;
    transition: transform .6s;
    will-change: transform;
    position: relative;
    z-index: 1;
    height: 100%;
}

.slider__item {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    flex: 0 0 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__info {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__desc {
    text-align: center;
    width: 70%;
}

.slider__title {
    font-family: 'Open Sans bold';
    font-size: 36px;
    color: #fff;
}

.slider__text {
    font-family: 'Open Sans reg';
    font-size: 16px;
    color: #fff;
    padding-bottom: 34px;
}

.button__link {
    text-decoration: none;
    font-family: 'Open Sans bold';
    font-size: 16px;
    color: #fff;
    background-color: #c32328;
    padding: 18px 30px;

    &:hover {
        color: #000;
        transition: .2s;
    }
}

.slider__item:nth-child(1) {
    background-image: url(../images/slide-1.jpg);
}

.slider__item:nth-child(2) {
    background-image: url(../images/slide-2.jpg);
}

.slider__item:nth-child(3) {
    background-image: url(../images/slide-2.jpg);
}

.controls {
    position: absolute;
    width: 48px;
    height: 48px;
    bottom: 50%;
    background: none;
    border: initial;
    cursor: pointer;
    z-index: 10;
    background-color: #c32328;
    border-radius: 50%;

    &:hover {
        .controls__triangle-prev {
            border-color: #000;
            transition: .2s;
        }

        .controls__triangle-next {
            border-color: #000;
            transition: .2s;
        }
    }
}

.slider__controls-prev {
    left: 15px;
}

.controls__triangle-prev {
    height: 10px;
    width: 10px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    transform: rotate(-45deg);
    margin: 14px;
}

.slider__controls-next {
    right: 15px;
}

.controls__triangle-next {
    height: 10px;
    width: 10px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    transform: rotate(135deg);
    margin: 12px;
}

.hero-desc {
    height: 27%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-desc__title {
    font-family: 'Open Sans bold';
    font-size: 36px;
    color: #000;
    margin: 0;
    padding-top: 20px;
}

.hero-desc__text {
    font-family: 'Open Sans reg';
    font-size: 16px;
    color: #000;
    width: 55%;
    text-align: center;
}