.service {
    width: 100%;
    background-image: url(../images/bg-service.png);
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: cover;
    z-index: 1;
}

.service__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 60px;

    @include tablets {
        padding-top: 35px;
        padding-bottom: 30px;
    }
}

.service__title {
    font-family: 'Open Sans bold';
    font-size: 34px;
    color: #000;
    margin: 0;
    padding-bottom: 40px;

    @include desktop {
        font-size: 36px;
    }

    @include tablets-l {
        font-size: 31px;
    }

    @include tablets {
        font-size: 29px;    
    }

    @include phones {
        font-size: 27px;
        text-align: center;
    }
}

.service__text {
    font-family: 'Open Sans reg';
    font-size: 16px;
    color: #000;
    width: 80%;
    max-width: 940px;
    text-align: center;

    @include desktop {
        max-width: 1140px;
    }

    @include tablets-l {
        font-size: 14px;
    }

    @include phones {
        font-size: 13px;
        width: 95%;overflow: hidden;
    }
}

.service__content {
    margin: 0 auto;
    display: flex;
    width: 100%;

    @include desktop {
        max-width: 1140px;
    }
}

.service__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 100px;
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
    width: 945px;

    @include desktop {
        width: 1140px;
    }

    @include tablets-l {
        width: 100%;
        max-width: 750px;
    }

    @include tablets {
        max-width: 420px;
    }

    @include phones {
        max-width: 280px;
    }
}

.service__item {
    width: 315px;
    height: 315px;
    background-image: url(../images/service-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    position: relative;

    &:hover {
        .service__wrap {
            background-color: rgba(0, 0, 0, 0.7);
            transition: .2s;
        }

        .service__link {
            background-color: #c32328;
            transition: .2s;
        }

        .service__zoom {
            opacity: 1;
            transition: .2s;
        }
    }

    @include desktop {
        width: 380px;
        height: 380px;
    }

    @include tablets-l {
        height: 250px;
        width: 250px;
    }

    @include tablets {
        width: 210px;
        height: 210px;    
    }

    @include phones {
        width: 140px;
        height: 140px;
    }
}

.service__image {
    height: 100%;
}

.service__item:nth-child(1) {
    background-image: url(../images/service-1.jpg);
}

.service__item:nth-child(2) {
    background-image: url(../images/service-2.jpg);
}

.service__item:nth-child(3) {
    background-image: url(../images/service-3.jpg);
}

.service__item:nth-child(4) {
    background-image: url(../images/service-4.jpg);
}

.service__item:nth-child(5) {
    background-image: url(../images/service-5.jpg);
}

.service__item:nth-child(6) {
    background-image: url(../images/service-6.jpg);
}

.service__wrap {
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
}

.service__zoom {
    height: 54px;
    width: 54px;
    background-color: #c32328;
    position: absolute;
    left: 50%;
    top: 37%;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @include phones {
        height: 30px;
        width: 30px;
    }
}

.service__zoom-logo {
    height: 35%;
}

.service__button {
    width: 100%;
}

.service__link {
    text-decoration: none;
    font-family: 'Open Sans bold';
    font-size: 14px;
    color: #fff;
    background-color: #000;
    padding: 25px 0 25px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;

    @include desktop {
        font-size: 16px;
        padding: 35px 0 35px 0;
    }

    @include tablets-l {
        font-size: 12px;
        padding: 20px 0 20px 0;
    }

    @include phones {
        font-size: 8px;
        padding: 13px 0;
    }
}