/*.slider-wrap {
    overflow: hidden;
    width: 975px;
    margin: 0 auto;

    @include laptop {
        width: 585px;
    }

    @include tablets {
        width: 330px;
    }

    @include phones {
        width: 210px;
    }
}

.partners {
    height: 270px;
    width: 195px;
    display: flex;
    margin: 0 auto;

    @include desktop {
        height: 364px;
    }

    @include tablets-l {
        height: 230px;
    }

    @include tablets {
        width: 110px;
    }

    @include phones {
        width: 210px;
    }
}*/

.partners__list {
    height: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    left: -390px;
    transition: left 0.4s;

    @include tablets {
        left: -220px;
    }

    @include phones {
        width: 420px;
    }
}

.partners__item {
    list-style: none;
    //margin-right: 15px;
    //margin-left: 15px;
    //width: 165px;

   /*&:last-child {
        margin-right: 0;
    }

    @include tablets {
        width: 80px;
    }

    @include phones {
        width: 180px;
    }*/
}
/*
.partners__image {
    @include tablets {
        width: 80px;
    }

    @include phones {
        width: 180px;
    }
}*/

.footer {
    height: 270px;
    width: 100%;
    background-color: #000;

    @include desktop {
        height: 364px;
    }

    @include tablets-l {
        height: 230px;
    }

    @include phones {
        height: 350px;
    }
}

.footer__content {
    height: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 940px;
    width: 100%;

    @include desktop {
        max-width: 1140px;
    }

    @include tablets-l {
        max-width: initial;
        width: 95%;
    }

    @include tablets {
        flex-direction: column;    
    }
}

.footer__info {
    width: 33%;
    height: 100%;
    font-family: 'Open Sans reg';
    font-size: 14px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include desktop {
        width: 32%;
        font-size: 16px;
    }

    @include tablets-l {
        font-size: 13px;
    }

    @include tablets {
        width: 100%;    
        align-items: center;
        justify-content: center;
    }

    @include phones {
        justify-content: flex-end;
    }
}

.footer__logo {
    padding-top: 50px;
    padding-left: 15px;

    @include desktop {
        padding-top: 100px;
    }

    @include tablets {
        padding: 0; 
        padding-bottom: 10px;   
    }
}

.footer__text {
    padding-left: 15px;

    @include tablets {
        padding: 0; 
        padding-bottom: 10px;   
    }

    @include phones {
        text-align: center;
    }
}

.footer__copy  {
    padding-left: 15px;

    @include tablets {
        padding: 0;    
    }
}

.footer__nav {
    width: 67%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;

    @include desktop {
        width: 68%;
    }

    @include tablets {
        width: 100%;
        padding: 0;
        order: -10;  
        padding-left: 10px;  
    }
}

.footer__nav-title {
    margin: 0;
    font-family: 'Open Sans bold';
    font-size: 18px;
    color: #fff;
    padding: 25px;

    @include tablets-l {
        font-size: 17px;
    }

    @include tablets {
        padding: 0;   
        padding-bottom: 10px; 
    }

    @include phones {
        padding-top: 10px;
    }
}

.footer__nav-list {
    display: flex;
    flex-flow: row wrap;
    padding: 25px;

    @include tablets {
        padding: 0;    
    }
}

.footer__nav-item {
    list-style: none;
    width: 25%;
    padding: 15px 0;

    @include tablets {
        padding: 0;    
    }

    @include phones {
        padding: 5px;
        width: 50%;
    }
}

.footer__nav-link {
    text-decoration: none;
    font-family: 'Open Sans reg';
    font-size: 14px;
    color: #fff;
    transition: color .2s;
    padding: 15px 0;

    &:hover {
        color: #c32328;
    }

    @include desktop {
        font-size: 16px;
    }

    @include tablets-l {
        font-size: 13px;
    }

    @include tablets {
        padding: 0;    
    }
}