.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.news__title {
    margin: 0;
    font-family: 'Open Sans bold';
    font-size: 30px;
    color: #000;
    padding-top: 100px;
    padding-bottom: 67px;

    @include tablets {
        padding-top: 50px;
        padding-bottom: 34px;
    }

    @include phones {
        padding-top: 15px;
    }
}

.news__list {
    display: flex;
    flex-direction: column;
    max-width: 940px;
    width: 100%;

    @include desktop {
        max-width: 1140px;
    }

    @include tablets-l {
        max-width: 750px;
    }

    @include tablets {
        max-width: 420px;
    }

    @include phones {
        max-width: 280px;
    }
}

.news__item {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 60px;

    &:last-child {
        padding-bottom: 130px;

        @include tablets {
            padding-bottom: 70px;
        }
    }

    @include tablets-l {
        padding-bottom: 30px;
        justify-content: center;
    }

    @include tablets {
        padding-bottom: 15px;
        border-bottom: 2px solid #000;
        padding-top: 15px;

        &:last-child {
            border-bottom: none;
        }
    }

    @include phones {
        flex-direction: column;
    }
}

.news__item--right {
    justify-content: flex-end;

    @include tablets-l {
        justify-content: center;
    }
}

.news__image {
    height: 200px;
    width: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include desktop {
        height: 214px;
        width: 357px;
    }

    @include tablets {
        width: 50%;    
    }

    @include phones {
        width: 280px;
        height: 167px;
    }
}

.news__image-one {
    background-image: url(../images/news-1.jpg);
}

.news__image-two {
    background-image: url(../images/news-2.jpg);
    order: 10;

    @include tablets-l {
        order: initial;
    }
}   

.news__image-three {
    background-image: url(../images/news-3.jpg);
}

.news__image-four {
    background-image: url(../images/news-4.jpg);
    order: 10;

    @include tablets-l {
        order: initial;
    }
}

.news-desc {
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;

    @include desktop {
        width: 407px;
        padding: 0 30px;
    }

    @include tablets {
        width: 50%;    
        padding: 0 0 0 20px;
    }

    @include phones {
        width: 100%;
        height: 40%;
        justify-content: initial;
    }
}

.news-desc__title {
    margin: 0;
    font-family: 'Open Sans bold';
    font-size: 16px;
    color: #000;

    @include tablets-l {
        font-size: 16px;
    }

    @include tablets {
        font-size: 14px;    
    }

    @include phones {
        padding-bottom: 10px;
        text-align: center;
    }
}

.news-desc__text {
    font-family: 'Open Sans reg';
    font-size: 14px;
    color: #000;
    padding-bottom: 5px;

    @include tablets-l {
        font-size: 14px;
        padding-bottom: 10px;
    }

    @include tablets {
        font-size: 13px;    
    }

    @include phones {
        display: none;
    }
}

.news-desc__btn {
    text-align: center;
    margin-bottom: 14px;

    &:hover {
        .news-desc__btn-link {
            color: #000;
            transition: .2s;
        }
    }

    @include tablets-l {
        margin-bottom: 12px;
    }

    @include tablets {
        margin-bottom: 8px;    
    }
}

.news-desc__btn-link {
    text-decoration: none;
    font-family: 'Open Sans bold';
    font-size: 13px;
    color: #fff;
    background-color: #c32328;
    padding: 14px 32px;

    @include tablets-l {
        font-size: 12px;
        padding: 12px 32px;
    }

    @include tablets {
        padding: 8px 28px;    
    }
}