.blog {
    width: 100%;
}

.blog__content {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    padding-top: 100px;

    @include desktop {
        max-width: 1140px;
    }

    @include tablets-l {
        max-width: 750px;
    }

    @include tablets {
        max-width: 95%;
    }

    @include phones {
        padding-top: 60px;
    }
}

.blog__main {
    margin: 0 20px;
    width: 600px;

    @include desktop {
        width: 720px;
    }

    @include tablets-l {
        width: 500px;
    }

    @include tablets {
        width: 100%;
    }
}

.blog__title {
    width: 100%;
    margin: 0;
    font-family: 'Open Sans bold';
    font-size: 30px;
    padding-bottom: 30px;
}

.blog__text {
    width: 100%;
    font-family: 'Open Sans reg';
    font-size: 16px;
    padding-bottom: 30px;
}

.blog__image {
    width: 100%;
    height: 420px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 30px;

    @include desktop {
        height: 513px;
    }

    @include tablets-l {
        height: 330px;
    }
}

.blog__image_one {
    background-image: url(../images/blog-image-1.jpg);
}

.blog__image_two {
    background-image: url(../images/blog-image-2.jpg);
}

.blog__date {
    font-family: 'Open Sans reg';
    font-size: 16px;
    text-align: end;
    margin-top: 50px;
    margin-bottom: 130px;

    @include phones {
        margin-top: 10px;
        margin-bottom: 60px;
    }
}

.aside {
    width: 300px;
    margin-left: 20px;

    @include desktop {
        width: 358px;
    }

    @include tablets-l {
        width: 250px;
    }

    @include tablets {
        display: none;
    }
}

.aside__title {
    margin: 0;
    font-family: 'Open Sans bold';
    font-size: 24px;
    padding-bottom: 30px;
}

.aside__image {
    background-image: url(../images/news-2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 180px;
    margin-bottom: 30px;
    
    @include desktop {
        height: 214px;
    }

    @include tablets-l {
        height: 140px;
    }
}

.aside__subject {
    font-family: 'Open Sans bold';
    font-size: 18px;
    margin: 0;
    padding-bottom: 30px;
}

.aside__text {
    font-family: 'Open Sans reg';
    font-size: 16px;
    margin-bottom: 45px;
}

.aside__button {
    text-align: center;
}

.aside__link {
    text-decoration: none;
    font-family: 'Open Sans bold';
    font-size: 16px;
    color: #fff;
    background-color: #c32328;
    padding: 15px 30px;
    transition: .4s;
    text-transform: uppercase;

    &:hover {
        color: #000;
        border-radius: 5px;
    }

    @include desktop {
        padding: 18px 30px;
    }

    @include tablets-l {
        font-size: 13px;
        padding: 13px 28px;
    }

    @include tablets {
        padding: 11px 26px;    
    }
}