.news--page {
    padding: 90px 0px;;
}

.news--aside {
    .news__date {
        display: none;
    }
} 

.news__title-wrap {
    position: relative;
    margin-bottom: 45px;
    
    &:after {
        content: "";
        height: 4px;
        width: 100%;
        background-color: $orange;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.news__title {
    margin: 0;
    font-family: 'Open Sans bold';
    font-size: 26px;
    color: #000;
    position: relative;
    display: inline-block;
    background-color: #fff;
    z-index: 1;
    padding-right: 30px;
}

.news__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.news__item {
    width: 293px;
    height: 300px;
    margin-bottom: 30px;
    position: relative;

    @include big-desktop {
        width: 358px;
        height: 360px;
    }

    @include laptop {
        width: 358px;
        height: 300px;
    }

    @include tablets {
        width: 100%;
        height: auto;
        min-height: 400px;
    }

    @include phones {
        min-height: 392px;
    }

    &:hover {
        .news__image {
            height: 0;

            @include tablets {
                height: 70%;
            }

            @include phones {
                height: 65%;
            }
        }

        .news__desk {
            height: 100%;

            @include tablets {
                height: 30%;
            }

            @include phones {
                height: 35%;
            }
        }
    }

    &:nth-child(1) {
        .news__image {
            background-image: url(../images/news-1.jpg);
        }
    }

    &:nth-child(2) {
        .news__image {
            background-image: url(../images/news-2.jpg);
        }
    }

    &:nth-child(3) {
        .news__image {
            background-image: url(../images/news-3.jpg);
        }
    }

    &:nth-child(4) {
        .news__image {
            background-image: url(../images/news-4.jpg);
        }
    }
}

.news__image {
    background-image: url(../images/news-4.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 214px;
    position: relative;
    transition: .3s;

    @include tablets {
        height: 70%;
    }

    @include phones {
        height: 65%;
    }
}

.news__date {
    background-color: $orange;
    font-family: 'Open Sans reg';
    font-size: 16px;
    color: #fff;
    padding: 15px;
    position: absolute;
    right: 0;
}

.news__desk {
    height: 86px;
    background-color: #000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    transition: .3s;
    width: 100%;

    @include big-desktop {
        height: 146px;
        padding: 15px;
        justify-content: center;
    }

    @include tablets {
        height: 30%;
    }

    @include phones {
        height: 35%;
    }
}

.news__desk-title {
    font-family: 'Open Sans bold';
    font-size: 14px;
    color: #fff;
    margin: 0;
    margin-bottom: 10px;

    @include big-desktop {
        font-size: 16px;
        margin-bottom: 23px;
    }
}

.news__desk-text {
    font-family: 'Open Sans reg';
    font-size: 14px;
    color: #fff;
    display: none;

    @include big-desktop {
        font-size: 16px;
        display: block;
    }

    @include tablets {
        display: block;
    }
}