.obj {
    padding: 90px 0px;;
}

.obj__title {
    margin: 0;
    font-family: 'Open Sans bold';
    font-size: 26px;
    color: #000;
    background-color: #fff;
    position: relative;
    margin-bottom: 45px;

    &:before {
        content: "";
        width: 145px;
        border-bottom: 4px solid #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    &::after {
        content: "";
        width: 100%;
        border-bottom: 4px solid $orange;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.obj__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.obj__item {
    width: 358px;
    height: 300px;
    margin-bottom: 30px;
    position: relative;

    &:hover {
        .obj__image {
            height: 0;
        }

        .obj__desk {
            height: 100%;
        }
    }

    &:nth-child(1) {
        .obj__image {
            background-image: url(../images/obj-1.jpg);
        }
    }

    &:nth-child(2) {
        .obj__image {
            background-image: url(../images/obj-2.jpg);
        }
    }

    &:nth-child(3) {
        .obj__image {
            background-image: url(../images/obj-3.jpg);
        }
    }

    &:nth-child(4) {
        .obj__image {
            background-image: url(../images/obj-4.jpg);
        }
    }

    &:nth-child(5) {
        .obj__image {
            background-image: url(../images/obj-5.jpg);
        }
    }

    &:nth-child(6) {
        .obj__image {
            background-image: url(../images/obj-6.jpg);
        }
    }
}

.obj__image {
    background-image: url(../images/news-4.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 214px;
    position: relative;
    transition: .3s;
}

.obj__desk {
    height: 86px;
    background-color: #000;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    transition: .3s;
    width: 100%;
}

.obj__desk-title {
    font-family: 'Open Sans bold';
    font-size: 16px;
    color: #fff;
    margin: 0;
}

.obj__desk-text {
    font-family: 'Open Sans reg';
    font-size: 16px;
    color: #fff;
}