.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;

    @include tablets {
        margin-bottom: 100px;
    }
}

.pagination__list {
    display: flex;
    flex-direction: row;
}

.pagination__item {
    margin-right: 32px;

    &:first-child {
        margin-left: 45px;
    }

    &:last-child {
        margin-right: 45px;
    }

    @include tablets {
        margin-right: 20px;

        &:first-child {
            margin-left: 30px;
        }
    
        &:last-child {
            margin-right: 30px;
        }
    }
}

.pagination__item_hidden {
    @include phones {
        display: none;
    }
}

.pagination__link {
    text-decoration: none;
    font-family: 'Open Sans bold';
    font-size: 16px;
    color: #000;
    transition: .2s;
    
    &:hover {
        color: #c32328;
    }

    @include tablets {
        font-size: 13px;
    }
}

.pagination__link.active {
    color: #c32328;
}