.service_page {
    background-image: none;
    width: 100%;
}

.service__container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    padding-top: 100px;

    @include desktop {
        max-width: 1140px;
    }

    @include tablets-l {
        max-width: 750px;
    }

    @include tablets {
        width: 95%;
    }
}

.service__main {
    margin: 0 20px;
    width: 600px;

    @include desktop {
        width: 720px;
    }

    @include tablets-l {
        width: 500px;
    }

    @include tablets {
        width: 95%;
    }
}

.service__desc_page {
    display: block;
    align-items: initial;
    padding: 0;
}

.service__title_page {
    padding-bottom: 35px;
    font-size: 30px;
}

.service__list_page {
    display: block;
    flex-flow: initial;
    justify-content: initial;
    margin: 0;
    box-shadow: initial;
    width: 100%;

    @include tablets {
        max-width: initial;
    }
}

.service__item_page {
    width: 100%;
    height: initial;
    cursor: initial;

    &:last-child {
        .service__button_page {
            margin-bottom: 145px;
        }
    }
}

.service__item_page:nth-child(1) {
    background-image: none;
}

.service__item_page:nth-child(2) {
    background-image: none;
}

.service__item_page:nth-child(3) {
    background-image: none;
}

.service__item_page:nth-child(4) {
    background-image: none;
}

.service__item_page:nth-child(5) {
    background-image: none;
}

.service__item_page:nth-child(6) {
    background-image: none;
}

.service__caption {
    margin: 0;
    margin-bottom: 30px;
    font-family: 'Open Sans bold';
    font-size: 24px;
}

.service__image_page {
    width: 100%;
    height: 420px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include desktop {
        height: 480px;
    }

    @include tablets-l {
        height: 300px;
    }

    @include tablets {
        height: 400px;
    }

    @include phones {
        height: 265px;
    }
}

.service__image_one {
    background-image: url(../images/service-1.jpg);
}

.service__image_two {
    background-image: url(../images/service-2.jpg);
}

.service__image_three {
    background-image: url(../images/service-3.jpg);
}

.service__image_four {
    background-image: url(../images/service-4.jpg);
}

.service__image_fifth {
    background-image: url(../images/service-5.jpg);
}

.service__image_six {
    background-image: url(../images/service-6.jpg);
}

.service__text_page {
    width: 100%;
    max-width: initial;
    padding-top: 30px;
    text-align: initial;
    margin-bottom: 45px;
}

.service__button_page {
    text-align: end;
    margin-bottom: 75px;
}

.service__link_page {
    position: initial;
    text-decoration: none;
    font-family: 'Open Sans bold';
    font-size: 16px;
    color: #fff;
    background-color: #c32328;
    padding: 15px 30px;
    transition: .4s;
    text-transform: uppercase;

    &:hover {
        color: #000;
        border-radius: 5px;
    }

    @include phones {
        padding: 12px 27px;
        font-size: 14px;
    }
}

//////////// aside

.aside__title_obj {
    padding-bottom: 30px;
}

.aside__item {
    margin-bottom: 27px;

    &:last-child {
        margin-bottom: 0;
    }

    &:nth-child(1) {
        .aside__image-object {
            background-image: url(../images/obj-1.jpg);
        }
    }

    &:nth-child(2) {
        .aside__image-object {
            background-image: url(../images/obj-2.jpg);
        }
    }

    &:nth-child(3) {
        .aside__image-object {
            background-image: url(../images/obj-3.jpg);
        }
    }

    &:nth-child(4) {
        .aside__image-object {
            background-image: url(../images/obj-4.jpg);
        }
    }

    &:nth-child(5) {
        .aside__image-object {
            background-image: url(../images/obj-5.jpg);
        }
    }

    &:nth-child(6) {
        .aside__image-object {
            background-image: url(../images/obj-6.jpg);
        }
    }
}

.aside__subject_obj {
    padding-bottom: 17px;
}

.aside__text_obj {
    margin-bottom: 18px;
    font-size: 15px;
}

.aside__link-image {
    width: 100%;
    height: 180px;
    cursor: pointer;

    @include desktop {
        height: 220px;
    }

    @include tablets-l {
        height: 150px;
    }
}

.aside__image-object {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 180px;

    @include desktop {
        height: 220px;
    }

    @include tablets-l {
        height: 150px;
    }
}

.news__title_aside {
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 24px;
}

.news__item_aside {
    flex-direction: column;
}

.news__image_aside {
    width: 100%;
    height: 180px;
    order: initial;

    @include desktop {
        height: 220px;
    }

    @include tablets-l {
        height: 150px;
    }
}

.news-desc_aside {
    padding: 0;
    padding-top: 25px;
    width: 100%;
}

.news-desc__text_aside {
    padding: 0;
    padding-top: 25px;
    margin-bottom: 35px;
}