.slider {
    width: 100%;
    height: 600px;

    @include laptop {
        height: 500px;
    }
}

.slider__list {
    list-style: none;
    list-style-type: none;
    display: flex;
    transition: transform .6s;
    will-change: transform;
    position: relative;
    z-index: 1;
    height: 100%;
    cursor: -webkit-grab;
}

.slider__item {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;

    .image-wrap {
        position: absolute;
        top: 0;
    }
}

.slider__item--one {
    background-image: url(../images/slide-1.jpg);
}

.slider__item--two {
    background-image: url(../images/slide-2.jpg);
}

.slider__item--three {
    background-image: url(../images/slide-3.jpg);
}

.image-wrap {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
}

.slider__desk {
    height: 100%;
    width: 50%;
    max-width: 570px;
    padding-right: 15px;

    @include laptop {
        padding-right: 0;
        padding-left: 15px;
    }

    @include tablets {
        margin: 0 auto;
        text-align: center;
        padding-left: 0;
        width: 400px;
    }
}

.slider__title {
    font-family: 'Open Sans bold';
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    margin-top: 160px;
    margin-bottom: 10px;

    @include laptop {
        margin-top: 100px;
        font-size: 33px;
    }
}

.slider__text {
    font-family: 'Open Sans reg';
    font-size: 16px;
    color: #fff;

    @include laptop {
        font-size: 14px;
    }
}

.button {
    text-align: end;
    margin-top: 40px;

    @include tablets {
        text-align: center;
    }
}

.button__link {
    font-family: 'Open Sans bold';
    font-size: 14px;
    color: #fff;
    background-color: $orange;
    padding: 18px 26px;
    transition: .3s;
    text-transform: uppercase;
    border-radius: 5px;

    @include big-desktop {
        padding: 22px 30px;
    }

    &:hover {
        background-color: darken($orange, 5%);
    }
}

#slideposition {
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    z-index: 10;
    bottom: 15px;

    @include desktop {
        display: block;
    }

    ul {
        display: flex;
        flex-direction: row;
    }

    .indicator {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background-color: transparent;
        border: 4px solid #fff;
        margin-right: 20px;
        position: relative;
        transition: .3s;

        &:before {
            content: "";
            height: 12px;
            width: 12px;
            border-radius: 50%;
            background-color: transparent;
            transform: translate(15%, 15%);
            position: absolute;
            transition: .3s;
        }

        &:last-child {
            margin-right: 0;
        }

        &.active {
            border: 4px solid $orange;
            
            &:before {
                background-color: #fff;
            }
        }
    }
}

.controls {
    @include desktop {
        display: none;
    }
}

.controls__btn {
    position: absolute;
    height: 54px;
    width: 146px;
    bottom: 50%;
    background: none;
    border: initial;
    cursor: pointer;
    z-index: 10;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .3s;

    &:hover {
        background-color: rgba(0, 0, 0, 0.6);
    }

    &:first-child {
        left: 30px;

        @include big-desktop {
            left: 60px;
        }

        .controls__arrow {
            margin-right: 18px;
        }
    }

    &:last-child {
        right: 30px;

        @include big-desktop {
            right: 60px;
        }

        .controls__arrow {
            margin-left: 18px;
        }
    }
}

.controls__arrow {
    display: inline-block;
}

.controls__arrow-img {
    padding-bottom: 1px;
}

.controls__text {
    display: inline-block;
    font-family: 'Open Sans bold';
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}
