@font-face {
    font-family: 'Lato reg';
    src: url('../fonts/subset-Lato-Regular.woff2') format('woff2'),
        url('../fonts/subset-Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans reg';
    src: url('../fonts/subset-OpenSans.woff2') format('woff2'),
        url('../fonts/subset-OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans bold';
    src: url('../fonts/subset-OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/subset-OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro reg';
    src: url('../fonts/subset-SourceSansPro-Regular.woff2') format('woff2'),
        url('../fonts/subset-SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}